$tamaño: (100%/3);

body {
    background: pink;
    display: flex;
    justify-content: center;
}

#conteiner {
    border: 1px solid black;
    padding: 5px;
    width: 900px;
    display: flex;
    flex-wrap: wrap;

    & > div{
        width: $tamaño;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
    }
}