$letra-tipo: Arial;
$letra-tam: 16px;

%text-shared {
    font-family: $letra-tipo;
    font-size: $letra-tam;
}

body {
    background: rgb(238, 211, 215);
}

.button {
    @extend %text-shared;
    background: white;
    padding: 12px;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
        background: wheat;
    }
}

.modal {
    display: none; 
    align-items: center;
    position: absolute; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background: rgba(0,0,0,0.4); 

    &__container {
        background: pink;
        margin: auto;
        padding: 20px;
        width: 80%;
    }

    &__text {
        @extend %text-shared;
    }
}

.close {
    color: #9b9797;
    float: right;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        color: black; 
    }
}